.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fd-add-sbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background: green;
  padding: 0px 10px;
  width: 100px;
  border-radius: 20px;
}
.css-1aquho2-MuiTabs-indicator{
  background-color: red !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: red !important;
}
